<div class="container">
  <div class="row">
    <div class="col-md-3">
      <table class="table table-striped">
        <thead>
        <table>
          <tr>
            <th>記事タイトル</th>
            <th>カテゴリー</th>
            <th>更新日時</th>
          </tr>
          </table>
        </thead>
      </table>
    </div>
  </div>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <ul class="list-group list-group-flush">
        <% @posts.each do |post| %>
          <li class="list-group-item"><%= link_to post.title, post_path(post) %></li>
        <% end %>
      </ul>
    </div>
  </div>
    <div class="container">
    <br>
    <%= paginate @posts %>
    <%= page_entries_info @posts, entry_name: "投稿" %>
  </div>
</div>