<%= render 'mypage' %>
<div class="container bg-white">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <%= link_to '投稿', sessions_show_path, class: "nav-item nav-link"%>
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">コメント</a>
        </div>
      </nav>
    </div>
  </div>
</div>
<div class="tab-content">
  <div class="tab-pane fade show active">
    <div class="container bg-white">
      <%= render 'comments/users_comment', comments: @comments %>
    </div>
  </div>
</div>
<br>