<div class="row">
  <div class="col-md-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>記事タイトル</th>
          <th>カテゴリー</th>
          <th>更新日時</th>
        </tr>
      </thead>
    </table>
  </div>
</div>