<%= render 'mypage' %>
<div class="container bg-white">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">投稿</a>
          <%= link_to 'コメント', show_comments_admin_user_path(@user), class: "nav-item nav-link"%>
        </div>
      </nav>
    </div>
  </div>
</div>
<h1>プルテスト</h1>
<div class="tab-content">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <div class="container bg-white">
      <%= render 'posts/users_post', user: @user %>
    </div>
  </div>
</div>
<br>
