        <div class="container">
<h2>ユーザーの詳細</h2>

  <div class="col-md-3">
    <table class="table table-striped">
      <thead>
          <div>
            <tr>
              <th>記事タイトル</th>
              <th>カテゴリー</th>
              <th>更新日時</th>
            </tr>
          </div>
          <div>
            <tr>
              <% @posts.each do |post| %>
              <td><%= link_to "#{post.title}", post_path %></td> 
              <td>##</td> 
              <td><%= post.created_at %></td> 
              <% end %>
            </tr>
          </div>
      </thead>
    </table>
  </div>
        </div>