<aside>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <section  class="container">
        <%= message %>
      </section>
    </div>
  <% end %>
</aside>